services:
  postgres_data:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    networks:
      - backend
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}

  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - backend
    depends_on:
      - redis
      - postgres_data

  celery:
    build: .
    command: celery -A settings worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - backend
    depends_on:
      - redis
      - postgres_data

networks:
  backend:

volumes:
  postgres_data:
  redis_data: