#appPanel[data-panel="profile"] {
  position: fixed;
  width: 35vw; max-width: 35vw;
  height: 60vh; max-height: 60vh;
  display: flex; flex-direction: column;
  overflow: hidden; margin: 0;
}

#appPanel[data-panel="profile"] #appPanelBody {
  height: 60vh; overflow-y: auto;
}